* {
    margin: 0;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    background-color: grey;
}

header {
    background-color: navy;
    padding: 25px 25px;
}

header h1 {
    font-size: 45px;
    margin: 0;
    color: white;
    display: inline;
}

.seo{
    color: rgb(199, 199, 199);
}

header nav {
    float: right;
    margin: 25px;
    font-size: 15px;
    position: relative;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-style: normal;
}

.hero {
    display: inline-block;
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
}





.benefits {
    background-color: #037dbe;
    text-align: center;
}

.benefits h3 {
    font-size: 46px;
    margin-top: 10px;
}

.benefits p {
    font-size: 25px;
}